:root {
    --main-bg-color: #fff;
    --text-color: #000000; /* Cor padrão para o texto no tema claro */
    --accent-color: #ff0202; /* Cor de destaque */
}

* {
    transition: all ease 0.2s;
    color: var(--text-color);
}

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    background-color: var(--main-bg-color);
    overflow: hidden;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
}

#logo {
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    position: relative;
    margin-top: 100px;
    text-align: center;
    color: var(--accent-color); /* Usa a cor de destaque definida */
}

#logo:hover {
    opacity: 0.3;
    transform: scale(1.1);
}

@media screen and (max-width: 750px) {
    #logo {
        display: none;
    }
}
