:root {
    --main-bg-color: #fff;
    --text-color: #37352f; /* Cor padrão para o tema claro */
    --accent-color: #f58f70; /* Cor de destaque, que pode ser usada para links, botões etc. */
}

[data-theme="gray"] {
    --main-bg-color: #191919;
    --text-color: #f58f70; /* Cor do texto no tema escuro */
    --accent-color: #f58f70; /* Mantém o mesmo destaque no tema escuro */
}

* {
    transition: all ease 0.2s;
    color: var(--text-color);
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
    overflow: hidden;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    position: relative;
    margin-top: 100px;
    text-align: center;
    color: var(--accent-color); /* Usa a cor de destaque definida para o tema */
}

#logo:hover {
    opacity: 0.3;
    transform: scale(1.1);
}

@media screen and (max-width: 750px) {
    #logo {
        display: none;
    }
}
